mat-form-field
{
  width: 100%;
}

mat-spinner {
  margin: auto;
}
mat-card{
      border: solid palegreen;
      width: 20%;
      margin-left: 40%;
      margin-top: 1%;
}
h1{
     
     
      font-size: 3rem;
      text-align: center;
      
      text-align: center;

}
button{
      border: solid palegreen;
      
      background-color:palegreen ;
     
}

.back{
      background-color: palegreen;
      float:right;
}