<div class="nav navbar-expand-lg">
  <nav class="navbar">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1" [routerLink]="['/home']">Navbar</span>
      <div class="button">
        <button type="button" class="btn btn1" [routerLink]="['/profile']">
          profile
        </button>
        <button type="button" class="btn btn1" [routerLink]="['/treeView']">
          TreeView
        </button>
        <button type="button" class="btn btn1" [routerLink]="['/recorsiv']">
          recursive
        </button>
      </div>
    </div>
  </nav>
</div>
