
mat-form-field
{
  width: 100%;
  
}
/* input{
      border: solid palegreen;
} */

mat-spinner {
  margin: auto;
}
mat-card{
      border: solid palegreen;
      width: 30%;
      margin-left: 35%;
      margin-top: 10%;
}
h1{
     
      width: 20%;
      height: 5rem;
      font-size: 3rem;
      text-align: center;
      margin-left: 40%;

}
.login{
      background-color:  palegreen;    
}
.back{
      width: 30%;
      background-color:  palegreen;  
      margin-top: 2%; 
      margin-left: 35%; 
}
.hee{
      width: 20px;
      height: 50px;
      background-color: aqua;
}

agm-map {
      height: 300px;
    }