table{
     
    border: solid 2px palegreen;
    /* margin-top: 5%; */
    width: 90%;
    margin: 5%;
    
}
.back{
  background-color: palegreen;
  margin-left: 6%;
  /* margin-top: 2%; */
  width: 10%;
}

thead{
  background-color: palegreen;
}
h1{
  text-align: center;
}
