<div class="tree">
  <ngx-treeview [items]="items"> </ngx-treeview>

  <button (click)="onClick(items)" *ngIf="save">save</button>
  <button (click)="onUpdate(items)" *ngIf="edit">Update</button>
</div>
<div class="distance">
  <button [routerLink]="['/']">Back</button>
  <button (click)="onEdit()">edit</button>
</div>
<!-- <h1>hello</h1> -->
<!-- <div class="container">hello</div> -->
<!-- <div style="text-align: center">
  <div>
    <webcam
      [height]="500"
      [width]="500"
      [trigger]="triggerObservable"
      (imageCapture)="handleImage($event)"
      *ngIf="showWebcam"
      [allowCameraSwitch]="allowCameraSwitch"
      [switchCamera]="nextWebcamObservable"
      [videoOptions]="videoOptions"
      (cameraSwitched)="cameraWasSwitched($event)"
      (initError)="handleInitError($event)"
    ></webcam>
    <br />
    <div class="actionBtn" (click)="triggerSnapshot()" title="Take Picture">
      📸
    </div>
    <div class="actionBtn" (click)="showNextWebcam(true)" title="Switch Camera">
      🔁
    </div>
  </div>
</div>
<h4 *ngIf="errors.length > 0">Messages:</h4>
<ul *ngFor="let error of errors">
  <li>{{ error | json }}</li>
</ul> -->
