<!-- <h1>sghjdgsg</h1> -->

<div class="card" style="width: 24rem">
  <img
    src="https://app.addmin.com/static/media/logo.dc9be51a.png"
    class="card-img-top"
    alt="..."
  />
  <div class="text">
    <h6>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, rem
      dolore! Voluptates fuga, soluta optio fugiat repudiandae explicabo
    </h6>
  </div>
  <div>
    <button mat-raised-button class="reg" [routerLink]="['/req']">
      register
    </button>
  </div>
  <div>
    <button class="log" [routerLink]="['/login']">Log In</button>
  </div>
  <div class="card-body"></div>
  <div>
    <button class="map" [routerLink]="['/map']">map</button>
  </div>
</div>
<ngx-treeview [items]="items"> </ngx-treeview>
